[submodule "tools/kconfig/Kconfiglib"]
	path = tools/kconfig/Kconfiglib
	url = https://github.com/ulfalizer/Kconfiglib.git
[submodule "components/third_party/apriltag"]
	path = components/third_party/apriltag
	url = https://github.com/AprilRobotics/apriltag
[submodule "components/third_party/imlib"]
	path = components/third_party/imlib
	url = https://github.com/sipeed/minicv2.git
[submodule "components/third_party/mfcc-with-vad"]
	path = components/maix_speech/mfcc-with-vad
	url = https://github.com/junhuanchen/mfcc-with-vad
[submodule "components/maix_speech/Maix-Speech"]
	path = components/maix_speech/Maix-Speech
	url = https://github.com/sipeed/Maix-Speech
[submodule "components/third_party/lvgl/lv_lib_freetype"]
	path = components/third_party/lvgl/lv_lib_freetype
	url = https://github.com/lvgl/lv_lib_freetype
